.contentListClients{
    width: 70%;
    height: auto;
    margin: 0 auto; 
    border-radius: 1em;
    border: 2px solid var(--text-100, #2A153B);
}


.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-block: 1.7rem 1.3rem;
    margin-inline: 2.2rem;
}
.header .title {
    color: var(--text-100, #2A153B);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 0.7rem;
}
.header section{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ListClients hr{
    height: 2px;
    width: 95%;
    background: var(--text-100, #2A153B);
    margin: 0 auto;
    opacity: 100%;
}
.searchClient{
    height: 2em;
    width: 50%;
    display: flex;
    align-items: center;
    padding-inline: 5px;
    padding-block: 17px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid var(--primary-dark);
    outline: 0;
}
.searchClient input{
    height: 90%;
    border: none;
}
.labelCheckboxes{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.3em;
}

.labelCheckboxes input {
    
}

.ListClientsTable{
    padding: 1em;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th {
    color: var(--primary-dark);
    padding: 1em;
    text-align: left;
    font-weight: bold;
}

tbody td{
    padding: 1em;
    background-color:#80728A;
    border-radius: 1em;
}

tbody td {
    padding: 1em;
    background-color: #80728A;
    border-radius: 0;
    color: var(--primary-dark); 
    
}
tbody td svg{
    margin: 0.15em;
}
tbody tr:first-child td:first-child {
    border-radius: 1rem 0 0 1rem; 
}

tbody tr:last-child td:last-child {
    border-radius: 0rem 1rem 1rem 0rem; 
}


tbody tr:hover {
    background-color: #e6e6e6;
}
.pagination{
    display: flex;
    justify-content: center;
}
.pagination a {
    text-decoration: none;
    color: var(--primary-dark);
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: var(--primary-dark);
    color: white;
}

.pagination a:hover {
    background-color: #ddd;
}